/**
 *
 * You can write your CSS code here, DO NOT touch the default JavaScript file
 * because it will make it harder for you to update.
 * 
 */

 .modal .modal-dialog-aside{ 
	width: 350px; max-width:80%; height: 100%; margin:0;transform: translate(0); transition: transform .2s;
}
.modal .modal-dialog-aside .modal-content{  height: inherit; border:0; border-radius: 0;}
.modal .modal-dialog-aside .modal-content .modal-body{ overflow-y: auto }
.modal.fixed-left .modal-dialog-aside{ margin-left:auto;  transform: translateX(100%); }
.modal.fixed-right .modal-dialog-aside{ margin-right:auto; transform: translateX(-100%); }
.modal.show .modal-dialog-aside{ transform: translateX(0);  }

.side-modal-size {
	width: 40%!important;
}

.side-trx-modal-size {
	width: 50%!important;
}

/* SMARTPHONES PORTRAIT */
@media only screen and (min-width: 300px) {
	.side-modal-size {
		width: 100%!important;
	}
}

/* SMARTPHONES LANDSCAPE */
@media only screen and (min-width: 480px) {
	.side-modal-size {
		width: 40%!important;
	}
}

/* TABLETS PORTRAIT */
@media only screen and (min-width: 768px) {
	.side-modal-size {
		width: 40%!important;
	}
}


/* TABLET LANDSCAPE / DESKTOP */
@media only screen and (min-width: 1024px) {
	.side-modal-size {
		width: 40%!important;
	}
}    